.MuiTablePagination {
  padding: 15px !important;
  text-align: center;
  border-top: 1px solid rgba(7, 9, 25, 0.125);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f8f9ff;
}

.MuiTablePagination .MuiTablePagination-selectLabel,
.MuiTablePagination .MuiTablePagination-displayedRows {
  margin-bottom: 0;
}

.MuiTablePagination .MuiTablePagination-spacer {
  display: none;
}

.MuiTablePagination .MuiTablePagination-toolbar {
  justify-content: center;
}
